@import '../../../../../_variables.scss';

.git-repo {
  background-color: $porcelain;
  text-align: left;
}

.detail {
  padding-right: 10px;
}

.repo-link {
  //color: black;
  text-align: left;
  img {
    width: 100%;
  }
}

.repo-description {
  //color: black;
  text-align: left;
}

@media only screen and (min-width: 800px) {

  .git-repo {
    width: 450px;
  }

}
