@import '../../../../../_variables.scss';

.git-repo {
  background-color: $accent1;
  text-align: left;
}

.detail {
  padding-right: 10px;
}

.repo-link {
  //color: black;
  text-align: left;
  img {
    width: 100%;
  }
}

.repo-description {
  //color: black;
  text-align: left;
}
