<div class="beer-fund flex">
  <div class="background"></div>

  <div class="profile flex">
      <img src="assets/images/beer-fund-avatar.jpg" class="image" filter="none">
      <div class="text">
        <h1 class="header">Victor Matthews</h1>
      </div>
  </div>

  <div class="text"><h3 class="header">Beer Fund</h3></div>

  <div class="beer-fund-button-group">

    <div *ngFor="let button of buttons" class="beer-fund-button">
      <a [href]="button.link" class="link" target="_blank">
        <mat-icon class="button-icon" fontSet="{{button.fontSet}}" fontIcon="{{button.fontIcon}}"></mat-icon>
        <p class="button-text">{{button.text}}</p>
      </a>
    </div>

  </div>

</div>
