.beer-fund {
  flex-direction: column;
  position: relative;
  padding-bottom: 75px;
  overflow-x: hidden;
  width: 100%;
}

.beer-fund-button-group {
  position: relative;
  margin: 10px
}

.beer-fund-button {
  overflow: hidden;
  border: 2px solid rgb(39, 45, 37);
  transition: none 0s ease 0s;
  box-shadow: rgb(39 45 37) 12px 12px 0px 0px;
  color: rgb(0, 0, 0);
  background-color: rgb(151, 211, 132);
  margin-bottom: 24px;
  width: calc(100% - 20px);
  border-radius: 30px;
}

.flex {
  display: flex;
}

.background {
  position: fixed;
  inset: 0px;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(98, 168, 71);
}

.profile {
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
  width: 100%;
}

.link {
  text-align: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
  display: flex;
  padding: 16px;
}

.image {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  display: block;
  object-fit: contain;
  object-position: initial;
  filter: none;
}

.text {
  margin: 12px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}

.header {
  margin: 0px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  grid-column-start: 2;
  font-family: 'Barlow', sans-serif;
}

.button-text {
  padding: 0px;
  margin: 0px 10px 0px 0px;
  line-height: 1.5;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

.button-icon {
  alignment: center;
  vertical-align: center;
  font-size: 25px;
}
