<section id="about" class="section">
    <div>
      <header>
        <h2>Biography</h2>
      </header>

      <div>
        <div>
          <img src="assets/images/home/biography.jpg" width="100%" alt="Victor Matthews">
        </div>
        <div>
          <p>I first started programming in college with the intention of going into video game development. Although I still have a passion for video games I do not believe I want to work on them for a living.</p>
          <p>I have attained knowledge in the full stack of development in my current role at Gordon Food Service. I am apart of the IT Warehouse team where I help develop and support warehouse management software.</p>
          <p>In my spare time, if I'm not binge watching TV or playing video games, you can find me at craft breweries or hiking around Colorado.</p>
        </div>
      </div>

    </div>

</section>
