@import '../../../../variables';

.edu-detail {
  margin-top: 20px;
  border-left: 1px solid $primary1;
  padding-left: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mobile {
  width: 80%;
}

.title {
  font-size: 1.17em;
}
