<div id="menu">

    <div class="top">
        <div id="logo">
            <span class="image avatar48">
              <img src="assets/images/victor-matthews-avatar.jpg" alt="{{ui.CONSTANTS.MY_NAME.getString()}}">
            </span>
            <h1 id="title">{{ui.CONSTANTS.MY_NAME.getString()}}</h1>
            <p>{{ui.CONSTANTS.MY_JOB_TITLE.getString()}}</p>
          <p>{{ui.CONSTANTS.MY_LOCATION.getString()}}</p>
        </div>
    </div>

    <div class="navigate">
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li *ngFor="let navLink of navigationLinks" [ngClass]="isActive(navLink.path)" (click)="navigateTo(navLink.path, navLink.navType)">
                    <div class="nav {{navLink.className}}">
                        <mat-icon fontSet="{{navLink.fontSet}}" fontIcon="{{navLink.fontIcon}}"></mat-icon>
                        {{navLink.label}}
                    </div>
                </li>
            </ul>
        </nav>
    </div>

  <!-- Social Icons -->
  <div class="bottom">
      <ul class="icons">
          <li *ngFor="let externalLink of externalLinks">
              <a [href]="externalLink.url" class="icon" target="_blank">
                  <mat-icon fontSet="{{externalLink.fontSet}}" fontIcon="{{externalLink.fontIcon}}"></mat-icon>
                  <span class="label">{{externalLink.label}}</span>
              </a>
          </li>
      </ul>
  </div>

</div>
