<section id="intro" class="section">
    <div class="container">
        <header>
            <h2 class="alt">My name is Victor Matthews. I am a Denver based software engineer who has professional experience with Angular, NodeJS, Java, Javasript/TypeScript, SQL, HTML 5 and CSS</h2>
        </header>

        <div>
            <button mat-raised-button color="primary" (click)="navService.target.next('contact')">
                <mat-icon fontSet="fa" fontIcon="fa-arrow-circle-down"></mat-icon>Let's meet
            </button>
        </div>
    </div>
</section>
