@import '../../variables';

section, article, header, p {
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    background-color: $background;
}

.space {
    margin: 10px
}

article {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 90px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: $shark;
}

a {
    color: $shark;
}

.square {
    content: "";
    display: inline-block;
    width: 23px;
    height: 40px;
    margin-right: 5px;
    background: $primary1;
    float: left;
    margin-top: -4px;
    margin-right: 20px;
}

.top-header{
    background-color: $primary1;
    text-align: center;

    ul, strong {
        list-style-type: none;
    }

    li {
        display: inline-block;
        padding: 20px 50px;
    }
}

header {
    text-align: center;
    padding: 50px 0;
}

.below-header {
    background-color: $primary2;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.experience {
    max-width: 980px;
    // margin: 50px auto;
    margin: 0 auto;
}

.work-title h2 {
    border-bottom: 2px solid $primary1;
}

.education-title {
    margin-top: 40px;
    h2 {
        border-bottom: 2px solid $primary1;
    }
}

.skills {
    background-color: $primary2;
    padding: 10px 20px 20px 20px;
    // margin-left: 10px;
    .objectives {
        margin-bottom: 20px;
    }
    mat-icon {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .top-header li, .below-header ul li {
        padding: 5px 10px 5px 0px;
    }
        .experience {
        padding: 20px;
        .skills {
        margin-top: 20px;
        }
    }

    h1 {
      font-size: 40px;
      font-weight: 400;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

mat-icon {
    overflow: unset;
}