<div class="content">
    <section class="top-header">
        <ul>
            <li><strong>{{ui.CONSTANTS.LOCATION.getString().toUpperCase()}}: </strong>{{ui.CONSTANTS.MY_LOCATION.getString()}}</li>
            <li><strong>{{ui.CONSTANTS.CELL.getString().toUpperCase()}}: </strong>{{ui.CONSTANTS.MY_PHONE_NUMBER.getString()}}</li>
            <li><strong>{{ui.CONSTANTS.EMAIL.getString().toUpperCase()}}: </strong> <a [href]="ui.getMailToLink()">{{ui.CONSTANTS.MY_EMAIL.getString()}}</a></li>
        </ul>
    </section>

    <header>
        <h1>{{ui.CONSTANTS.MY_NAME.getString().toUpperCase()}}</h1>
        <h3><span class="blue-dot">&bull;</span> {{ui.CONSTANTS.MY_JOB_TITLE.getString()}} <span class="blue-dot">&bull;</span></h3>
    </header>

    <section class="below-header">
        <ul>
            <li><mat-icon fontSet="fa" fontIcon="fa-file"></mat-icon>
              <a target="_blank" href="victormatthews_Resume.pdf" download="victormatthews_Resume.pdf">{{ui.CONSTANTS.DOWNLOAD_PDF_RESUME.getString()}}</a>
            </li>
        </ul>
    </section>

    <div class="experience">
        <div class="left">
            <div class="work-title">
                <h2><span class="square"></span>{{ui.CONSTANTS.EMPLOYMENT.getString()}}</h2>
            </div>
            <app-job-card *ngFor="let job of jobs" [job]="job"></app-job-card>

            <div class="education-title">
                <h2><span class="square"></span>{{ui.CONSTANTS.EDUCATION.getString()}}</h2>
            </div>
            <app-education-card *ngFor="let education of educations" [education]="education"></app-education-card>
        </div>

        <div class="right">
            <div class="skills">
                <div class="objectives">
                    <h2><mat-icon fontSet="far" fontIcon="fa-compass"></mat-icon> {{ui.CONSTANTS.MY_OBJECTIVE.getString()}}</h2>
                    <p>{{ui.PARAGRAPHS.RESUME_OBJECTIVE.getString()}}</p>
                </div>

                <article>
                    <h2><mat-icon fontSet="far" fontIcon="fa-check-circle"></mat-icon> {{ui.CONSTANTS.PROFESSIONAL_SKILLS.getString()}}</h2>
                    <app-skill-card *ngFor="let skill of skills" [skill]="skill"></app-skill-card>
                </article>
            </div>
        </div>
    </div>
</div>
