$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

// Blue Theme
//$shark: #222729;
//$gray: #888888;
//$white: #fff;
//$porcelain: #e8edec;
//$light_gray: #b8b8b8;
//$green: #20b08f;
//$primary1: #00bfff;
//$primary2: #DFF7FF;
//$sidnav: #4a708b;
//$background: #bfefff;

// Blue Theme
$shark: #222729;
$gray: #888888;
$white: #fff;
$porcelain: #e8edec;
$light_gray: #b8b8b8;
$green: #20b08f;
$primary1: #00bfff;
$primary2: #DFF7FF;
$sidnav: #4a708b;
$background: #bfefff;
