$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

//// Blue Theme
$shark: #222729;
$gray: #888888;
$white: #fff;
$light_gray: #b8b8b8;
$green: #20b08f;
$menu: #687864;
$primary1: #00bfff;
$background: #bfefff;
$primary2: #DFF7FF;
$porcelain: #e8edec;
