$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

//// Blue Theme
$shark: #222729;
$gray: #888888;
$white: #fff;
$light_gray: #b8b8b8;
$green: #20b08f;
$menu: #687864;
$primary1: #00bfff;
$background: #bfefff;
$primary2: #DFF7FF;
$accent1: #e8edec;

//// Stylish and Sophisticated
// $shark: #222729;
// $gray: #888888;
// $white: #fff;
// $light_gray: #b8b8b8;
// $green: #20b08f;
// $menu: #5d5c61;
// $primary1: #379683;
// $background: #7395ae;
// $primary2: #557a95;
// $accent1: #b1a296;

//// Lively and Inviting
// $shark: #222729;
// $gray: #888888;
// $white: #fff;
// $light_gray: #b8b8b8;
// $green: #20b08f;
// $menu: #7e685a;
// $primary1: #afd275;
// $background: #c2b9b0;
// $primary2: #e7717d ;
// $accent1: #c2cad0;

//// Sleek and Futuristic
// $shark: #222729;
// $gray: #888888;
// $white: #fff;
// $light_gray: #b8b8b8;
// $green: #20b08f;
// $menu: #2c3531;
// $primary1: #116466;
// $background: #d9b08c;
// $primary2: #ffcb9a ;
// $accent1: #d1e8e2;

//// Clean and Modern
// $shark: #222729;
// $gray: #888888;
// $white: #fff;
// $light_gray: #b8b8b8;
// $green: #20b08f;
// $menu: #17252a;
// $primary1: #2b7a78;
// $background: #3aafa9;
// $primary2: #def2f1;
// $accent1: #feffff;

//// Earthy
// $shark: #222729;
// $gray: #888888;
// $white: #fff;
// $light_gray: #b8b8b8;
// $green: #20b08f;
// $menu: #687864;
// $primary1: #31708e;
// $background: #5085a5;
// $primary2: #8fc1e3;
// $accent1: #f7f9fb;
